{% extends 'base.html' %}
{% block content %}
    <section class="book-list">
    <h2>Book List</h2>
    <table>
        <thead>
            <tr>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                {% if not book.deleted %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td><a href="{% url 'library:book_details' book_id=book.pk %}">
                        More Details
                    </a></td>
                    {% if user.is_staff %}
                    <td><a href="{% url 'library:delete_book' book.pk %}"
                        onclick="return confirm('Are you sure you want to delete this book?');"
                        >Delete</a></td>                                     
                    {% endif %}
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}




