{% extends 'base.html' %}

{% block title %}Library - Home{% endblock %}

{% block content %}
<section class="jumbotron">
    {% if user.is_authenticated %}
    <p>Welcome, {{ user.first_name }}!</p>
{% else %}
    <a href="{% url 'library:login' %}">Login</a> |
    <a href="{% url 'library:register' %}">Register</a>
{% endif %}
    <p>Explore our collection of books and resources.</p>
</section>
<section>
    <main>
        <!-- Page-specific content goes here -->
        <h2>We're here for you</h2>
        <p>You'll be able to see all of our books, your borrowing history and you can even borrow a book and pick it up here!</p>
        <p><i>"I have always imagined that Paradise will be a kind of a Library."</i>
            <br><strong>-Jorge Luis Borges</strong> </p>
        <h3>Contact us</h3>
    </main>
    
</section>
{% endblock %}